* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v160_10943 {
  width: 375px;
  height: 812px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v160_10944 {
  width: 375px;
  height: 812px;
  background: url("../images/v160_10944.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v160_10950 {
  width: 375px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v160_10951 {
  width: 333px;
  height: 16px;
  background: url("../images/v160_10951.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 29px;
  overflow: hidden;
}
.v160_10952 {
  width: 10px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 30px;
}
.v160_10953 {
  width: 24px;
  color: rgba(31,32,36,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v160_10958 {
  width: 26px;
  height: 11px;
  background: url("../images/v160_10958.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 307px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v160_10962 {
  width: 1px;
  height: 4px;
  background: rgba(0,0,0,1);
  opacity: 0.4000000059604645;
  position: absolute;
  top: 3px;
  left: 25px;
}
.v160_10963 {
  width: 20px;
  height: 7px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.v160_10964 {
  width: 16px;
  height: 10px;
  background: url("../images/v160_10964.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 267px;
  overflow: hidden;
}
.v160_10965 {
  width: 3px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 0.25;
  position: absolute;
  top: 0px;
  left: 13px;
}
.name {
  color: #fff;
}
.v160_10970 {
  width: 375px;
  height: 52px;
  background: rgba(255,255,255,1);
  padding: 16px 24px;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 0px;
  overflow: hidden;
}
.v160_10971 {
  width: 19px;
  height: 21px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 331px;
}
.v160_10972 {
  width: 20px;
  height: 18px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 40px;
}
.v160_10973 {
  width: 35px;
  height: 45px;
  background: url("../images/v160_10973.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 174px;
  overflow: hidden;
}
.v160_10974 {
  width: 50px;
  height: 58px;
  background: url("../images/v160_10974.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 388px;
  left: 53px;
  overflow: hidden;
}
.v160_10975 {
  width: 50px;
  height: 58px;
  background: url("../images/v160_10975.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 434px;
  left: 281px;
  overflow: hidden;
}
.v160_11006 {
  width: 231px;
  background: url("../images/v160_11006.png");
  opacity: 1;
  position: absolute;
  top: 406px;
  left: 105px;
  border: 5px solid rgba(73,85,159,1);
  transform: rotate(-12deg);
}
.v160_11009 {
  width: 375px;
  height: 345px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 467px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}
.v160_11010 {
  width: 130px;
  background: url("../images/v160_11010.png");
  opacity: 1;
  position: absolute;
  top: 336px;
  left: 123px;
  border: 5px solid rgba(0,0,0,1);
}
.v160_11011 {
  width: 15px;
  height: 9px;
  background: rgba(73,85,159,1);
  opacity: 1;
  position: absolute;
  top: 309px;
  left: 180px;
}
.v160_11012 {
  width: 50px;
  height: 50px;
  background: rgba(255,249,226,1);
  opacity: 1;
  position: absolute;
  top: 89px;
  left: 22px;
  border-top-left-radius: 27px;
  border-top-right-radius: 27px;
  border-bottom-left-radius: 27px;
  border-bottom-right-radius: 27px;
  overflow: hidden;
}
.v160_11013 {
  width: 50px;
  height: 50px;
  background: rgba(255,248,226,1);
  opacity: 1;
  position: absolute;
  top: 164px;
  left: 22px;
  border-top-left-radius: 27px;
  border-top-right-radius: 27px;
  border-bottom-left-radius: 27px;
  border-bottom-right-radius: 27px;
  overflow: hidden;
}
.v160_11014 {
  width: 50px;
  height: 50px;
  background: rgba(255,249,226,1);
  opacity: 1;
  position: absolute;
  top: 236px;
  left: 22px;
  border-top-left-radius: 27px;
  border-top-right-radius: 27px;
  border-bottom-left-radius: 27px;
  border-bottom-right-radius: 27px;
  overflow: hidden;
}
.v160_11015 {
  width: 72px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 96px;
  left: 82px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v160_11016 {
  width: 72px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 169px;
  left: 82px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v160_11017 {
  width: 72px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 241px;
  left: 82px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v160_11018 {
  width: 134px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 122px;
  left: 82px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v160_11019 {
  width: 134px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 195px;
  left: 82px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v160_11020 {
  width: 134px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 267px;
  left: 82px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v160_11024 {
  width: 126px;
  color: rgba(93,93,93,1);
  position: absolute;
  top: 34px;
  left: 21px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v160_11025 {
  width: 25px;
  height: 22px;
  background: rgba(239,192,74,1);
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 312px;
}
.v160_11026 {
  width: 31px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 96px;
  left: 196px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v160_11027 {
  width: 31px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 169px;
  left: 196px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v160_11028 {
  width: 31px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 241px;
  left: 196px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v160_11029 {
  width: 20px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 96px;
  left: 253px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v160_11030 {
  width: 20px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 169px;
  left: 253px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v160_11031 {
  width: 20px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 241px;
  left: 253px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v160_11035 {
  width: 13px;
  height: 13px;
  background: rgba(129,129,129,1);
  opacity: 1;
  position: absolute;
  top: 98px;
  left: 237px;
}
.v160_11036 {
  width: 13px;
  height: 13px;
  background: rgba(129,129,129,1);
  opacity: 1;
  position: absolute;
  top: 171px;
  left: 237px;
}
.v160_11037 {
  width: 13px;
  height: 13px;
  background: rgba(129,129,129,1);
  opacity: 1;
  position: absolute;
  top: 243px;
  left: 237px;
}
