@charset "UTF-8";



.contents {
	width:1440px;
	margin: 0px auto;
	height: 1400px;
}
.top {
	text-align:center;
}
.top > div > span {
	font-size: 30px;
}
.top > div {
	margin: 20px 0px 20px 0px;
}
.top > span {
	position:relative;
	left: 305px;
}

.s2 {
	width: 720px;
	margin: 0px auto;
	padding: 50px;
	box-shadow: 0px 0px 5px 1px #bfbfbf;
}
.fset {
	margin: 20px 0px 50px 0px;
}
.fset .sdate {
	width: 400px;
	height: 50px;
}
.fset .stime {
	width: 125px;
	height: 50px;
}
.sset {
	margin: 30px 0px 50px 0px;
}
.sset > img {
	width: 50px;
	height: 50px;
	float: left;
}
.sset > input {
	width: 440px;
}
.splace {
	display: block;
}
.sset > button > img {
	width: 30px;
	height: 25px;
}
.sset > button {
	position:relative;
	top: 8px;
	margin: 5px 0px 0px 0px;
	height: 28px;
}
.tset > input {
	width: 300px;
	height: 50px;
	margin: 10px 0px 50px 0px;
}
.deepsel td {
	padding: 5px 100px 5px 0px;
}
.td2 {
	margin: 0px 0px 0px 30px;
}
.deepsel {
	margin: 5px 0px 50px 0px;
}
.driverintroduce {
	width: 620px;
	height: 100px;
	margin: 20px 0px 0px 0px;
}
.s2 > form > button {
	width: 200px;
	height: 50px;
	margin: 50px 0px 0px 210px;
}