#wrap {
	width: 1920px;
	margin: 0px auto;
	position: relative;
}
.header {
	height: 200px;
	background-color: #4454a1;
}
button {
	margin: 10px 0px 0px 0px;
}
.contents {                      
	margin: 100px auto;
	width: 1440px;
	position: relative;
	height:600px;
}
.swiper {
	position: absolute;
	width:100%;
	height: 600px;
	margin: 0px auto;
}

/* .first { */
/* 	margin: 0px 0px 500px 0px; */
/* } */
.first img {
	float:left;
	width:100px;
	height:100px;
	margin: 0px 30px 0px 80px;
}
.first .ffd {
	float:left;
	font-weight: bold;
	font-size: 30px;
}
.first .f2 {
	float:left;
	margin: 0px 0px 0px 420px;
}

/* .second { */
/* 	margin: 0px 0px 250px 0px; */
/* } */
.second img {
	float:right;
	width:720px;
	height:600px;
}
.second .s1 {
	float:left;
	padding: 60px 0px 0px 0px;
}
.second .s1 .sfd {
	font-weight: bold;
	font-size: 30px;
}
.second .s1 .ssd {
	float:left;
	margin: 60px 0px 0px 0px;
}

/* .third { */
/* 	margin: 0px 0px 250px 0px; */
/* } */
.third img {
	float:left;
	width:720px;
	height:600px;
}
.third .t1 {
	float:left;
	padding: 60px 0px 0px 150px;
}
.third .t1 .tfd {
	font-weight: bold;
	font-size: 30px;
}
.third .t1 .tsd {
	float:left;
	margin: 10px 0px 0px 0px;
}


/* .fourth { */
/* 	margin: 0px 0px 250px 0px; */
/* } */
.fourth img {
	float:right;
	width:720px;
	height:600px;
}
.fourth .f1 {
	float:left;
	padding: 60px 0px 0px 0px;
}
.fourth .f1 .ffd {
	font-weight: bold;
	font-size: 30px;
}
.fourth .f1 .fsd {
	float:left;
	margin: 10px 0px 0px 0px;
}

.footer {
	height: 200px;
	background-color: #4454a1;
}

