@charset "UTF-8";

.s-date::placeholder {
	font-weight: 300;
	color: #e8e7e7
}
.s-time::placeholder {
	font-weight: 300;
	color: #e8e7e7
}
.s-addr::placeholder {
	font-weight: 300;
	color: #e8e7e7
}
.e-addr::placeholder {
	font-weight: 300;
	color: #e8e7e7
}
.t-sec > input::placeholder {
	font-weight: 300;
	color: #e8e7e7
}
.driverintroduce::placeholder {
	font-weight: 300;
	color: #e8e7e7
}
input[type="checkbox"] {
	display:none;
}
input[type="checkbox"] + label {
	display:inline;
	width: 18px;
	height: 18px;
	position: relative;
}
input + label::after {
	background-color: #4454a1;
    position: absolute;
}

.contents {
	width:1440px;
	margin: 0px auto;
	height: 1800px;
	position:relative;
	color: #1e1e1e;
}
.top {
	text-align:center;
}
.top > div > span {
	font-size: 36px;
	font-family: 'Montserrat';
	font-weight: 700;
}
.top > div > p {
	font-size: 36px;
	font-family: 'Noto Sans Korean';
	font-weight: 700;
}
.top > p {
	font-size: 16px;
	font-family: 'Noto Sans Korean';
	font-weight: 700;
}
.top > div {
	margin: 20px 0px 20px 0px;
}
.top > span {
	position:absolute;
	top: 170px;
	left: 970px;
	font-family: 'Noto Sans Korean';
	font-weight: 700;
	font-size: 16px;
	color: #4454a1;
}

.mid {
	font-family: 'Noto Sans Korean';
	font-weight: 700;
	font-size: 16px;
	position: absolute;
	top: 200px;
	left: 360px;
	width: 720px;
	margin: 60px auto;
	padding: 50px;
	box-shadow: 0px 0px 5px 1px #e8e7e7;
}
.f-sec {
	margin: 20px 0px 50px 0px;
}
.f-sec .s-date {
	width: 400px;
	height: 50px;
}
.f-sec .s-time {
	width: 125px;
	height: 50px;
}


.s-sec {
	margin: 30px 0px 30px 0px;
	position:relative;
	height: 400px;
}
.s-sec > p {
	position: absolute;
	top: 30px;
}
.s-sec > img {
	position: absolute;
	top: 93px;
	width: 15px;
	height: 73px;
}
#input-div {
	width: 630px;
	position: absolute;
	top: 70px;
	left: 20px;
}
#input-div input {
	width: 510px;
	height: 30px;
}
.s-addr {
	margin: 15px 0px 15px 0px;
}
.e-addr {
	margin: 15px 0px 15px 0px;
}
.ae-btn {
	position:absolute;
	top: 20px;
	left: 515px;
	width:16px;
	height: 20px;
}
.ae-btn:hover {
	cursor: pointer;
}
.ic-btn {
	position:absolute;
	top: 82px;
	left: 514px;
	width: 20px;
	height: 20px;
}
.ic-btn:hover {
	cursor: pointer;
}



.t-sec > input {
	width: 320px;
	height: 50px;
	margin: 10px 0px 50px 0px;
}
.t-sec > table {
	margin: 10px 0px 0px 0px;
}
.deepsel td {
	padding: 10px 40px 5px 0px;
	width: 285px;
}
.td2 {
	margin: 0px 0px 0px 30px;
}
.deepsel {
	margin: 5px 0px 50px 0px;
}
.selected {
	color: #4454a1;
	font-weight: bold;
}
.driverintroduce {
	width: 620px;
	height: 100px;
	margin: 20px 0px 0px 0px;
}
.mid > form > button {
	width: 200px;
	height: 50px;
	margin: 50px 0px 0px 210px;
	border: 1px solid #4454a1;
}