@charset "UTF-8";
/* placeholder */
.mate-s-date::placeholder {
	font-weight: 300;
	color: #e8e7e7
}

.mate-s-addr::placeholder {
	font-weight: 300;
	color: #e8e7e7
}

.mate-s-time::placeholder {
	font-weight: 300;
	color: #e8e7e7
}

.mate-e-addr::placeholder {
	font-weight: 300;
	color: #e8e7e7
}

.w-addr2::placeholder {
	font-weight: 300;
	color: #e8e7e7
}

.w-addr3::placeholder {
	font-weight: 300;
	color: #e8e7e7
}

.w-addr4::placeholder {
	font-weight: 300;
	color: #e8e7e7
}

.w-addr5::placeholder {
	font-weight: 300;
	color: #e8e7e7
}

.w-addr6::placeholder {
	font-weight: 300;
	color: #e8e7e7
}

.w-time2::placeholder {
	font-weight: 300;
	color: #e8e7e7
}

.w-time3::placeholder {
	font-weight: 300;
	color: #e8e7e7
}

.w-time4::placeholder {
	font-weight: 300;
	color: #e8e7e7
}

.w-time5::placeholder {
	font-weight: 300;
	color: #e8e7e7
}

.w-time6::placeholder {
	font-weight: 300;
	color: #e8e7e7
}
/* placeholder */

/* hover */
.s-sec .ia-btn:hover {
	cursor: pointer;
}

.s-sec .id-btn2:hover {
	cursor: pointer;
}

.s-sec .id-btn3:hover {
	cursor: pointer;
}

.s-sec .id-btn4:hover {
	cursor: pointer;
}

.s-sec .id-btn5:hover {
	cursor: pointer;
}

.s-sec .id-btn6:hover {
	cursor: pointer;
}

.s-sec .mate-ic-btn:hover {
	cursor: pointer;
}
/* hover */



.f-sec .mate-s-date {
	width: 720px;
	height: 50px;
}

.s-sec #input-div #addTable {
	display: inline;
}

.s-sec .mate-s-addr {
	margin: 10px 0px 10px 0px;
	width: 400px;
	height: 30px;
}

.s-sec .w-addr2 {
	margin: 10px 0px 10px 0px;
	width: 400px;
	height: 30px;
}

.s-sec .w-addr3 {
	margin: 10px 0px 8px 0px;
	width: 400px;
	height: 30px;
}

.s-sec .w-addr4 {
	margin: 10px 0px 8px 0px;
	width: 400px;
	height: 30px;
}

.s-sec .w-addr5 {
	margin: 10px 0px 8px 0px;
	width: 400px;
	height: 30px;
}

.s-sec .w-addr6 {
	margin: 10px 0px 10px 0px;
	width: 400px;
	height: 30px;
}

.s-sec .mate-e-addr {
	margin: 10px 0px 10px 0px;
	width: 400px;
	height: 30px;
}

.s-sec .mate-s-time {
	width: 200px;
	height: 30px;
	margin: 0px 0px 0px 10px;
}

.s-sec .w-time2 {
	width: 200px;
	height: 30px;
	margin: 0px 0px 0px 10px;
}

.s-sec .w-time3 {
	width: 200px;
	height: 30px;
	margin: 0px 0px 0px 10px;
}

.s-sec .w-time4 {
	width: 200px;
	height: 30px;
	margin: 0px 0px 0px 10px;
}

.s-sec .w-time5 {
	width: 200px;
	height: 30px;
	margin: 0px 0px 0px 10px;
}

.s-sec .w-time6 {
	width: 200px;
	height: 30px;
	margin: 0px 0px 0px 10px;
}

.s-sec .mate-img {
	width: 15px;
	height: 113px;
	margin: 15px 0px 0px 0px;
}

.s-sec .ia-btn {
	display: inline;
	margin: 0px 0px 0px 10px;
}

.s-sec .id-btn2 {
	display: inline;
	margin: 0px 0px 0px 10px;
}

.s-sec .id-btn3 {
	display: inline;
	margin: 0px 0px 0px 10px;
}

.s-sec .id-btn4 {
	display: inline;
	margin: 0px 0px 0px 10px;
}

.s-sec .id-btn5 {
	display: inline;
	margin: 0px 0px 0px 10px;
}

.s-sec .id-btn6 {
	display: inline;
	margin: 0px 0px 0px 10px;
}

.s-sec .mate-ic-btn {
	display: inline;
	margin: 0px 0px 0px 10px;
}