@charset "UTF-8";

#hitch-deep-map {
	position: relative;
	width: 1440px;
	height: 600px;
}


.hitch-deep-infoTop {
	position:relative;
	top:50px;
	height: 80px;
	border-bottom: 3px solid #4454a1;
}
.hitch-deep-infoTop > span {
	position: absolute;
	top: 40px;
	left: 120px;
}
.hitch-deep-infoTop > button {
	width: 200px;
	height: 60px;
	position: absolute;
	top: 20px;
	left: 1240px;
}
.hitch-deep-infoTop > .markImg {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 30px;
	left: 40px;
	background: url(/assets/images/ico_spot.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.data {
	position:relative;
	margin: 50px 0px 50px 0px;
}
.data > table > tbody > tr > td{
	border-bottom: 1px solid #bfbfbf;
}
.data .waypoint {
	width: 180px;
	height: 50px;
	background: rgba(245,245,245,1);
	text-align: center;
}
.data .tname {
	width: 539px;
	padding: 0px 0px 0px 10px;
}
.data .destination {
	width: 180px;
	background: rgba(245,245,245,1);
	text-align: center;
}
.back {
	height: 200px;
}
.inner > .back > a > button{
	background-color: #4454a1;
	color: white;
	width: 200px;
	height: 60px;
	position: relative;
	top: 50px;
	left: 610px;
}
